@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Raleway&display=swap');

html, body {
	padding: 0;
	margin: 0;
}

body {
	background: url(../images/0.jpg) no-repeat center top fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
	font-family: "STARWARS", sans-serif;
}

#options {
    height: 100px;
    width: 100px;
}

#options div {
    height: 100%;
    width: 100%;
}

#options #score {
    color: rgb(65, 7, 128);
    font-size: 48px;
    margin: 18px 40px;
}
    

 #sound  {
    height: 100px;
    width: 100px;
    margin-top: 30px 50px;
    cursor: pointer;
}

#sound img {
    height: 100%;
    width: 100%;
}

.game_field {
    background: #A2BFD7;
    width: 1000px;
    height: 700px;
    border-radius: 10px;
    padding: 2px;
    margin: 0 auto;
    margin-top: 100px;
}

.game_field ul {
    width: 810px;
    height: 650px;
 }

#flag li {
    float: left;
    height: 270px;
    width: 320px;
    margin: 20px 40px;
    text-align: center;
    list-style: none;
}

.answer {
    margin-top: 150px;
    height: 170px;
    width: 950px;
}

.answer div {
    height: 100px;
    width: 450px;
    border: 2px solid black;
    border-radius: 20px;
    float: left;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-top: 50px;
    text-align: center;
    font-size: 48px;
    margin-left: 20px;
    margin-top: 20px;
}

.ans0:hover, .ans1:hover, .ans2:hover, .ans3:hover {
    background: #A2BFD7;
}

